<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gop3.mapper.BookMapper">
    <!--通过妈妈的微信id获取妈妈的id-->
    <select id="getMomId" parameterType="String" resultType="Integer">
        select id from health_mother where wx_openid = #{mom_openid}
    </select>
    <!--通过医生的微信id获取医生的id-->
    <select id="getDocId" parameterType="String" resultType="Integer">
        select id from health_doctor where wx_openid = #{doc_openid}
    </select>


    <!-- 妈妈预约复诊相关 -->
    <!-- 预约复诊历史记录查询 -->
    <select id="getAllBookedListForMom" parameterType="String" resultMap="bookedInfo">
        select b.icon, b.name, a.bookTime, a.isReturn
        from health_book a, health_doctor b
        where a.did = b.id and a.mid in (select id from health_mother where wx_openid = #{openid})
    </select>
    <resultMap id="bookedInfo" type="com.gop3.dto.BookedInfoDTO">
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="bookTime" property="bookTime"/>
        <result column="isReturn" property="isReturn"/>
    </resultMap>

    <!-- 创建预约记录 -->
    <insert id="createBookInfo" parameterType="com.gop3.dto.BookInfoDTO">
        insert into health_book(did, mid, name, phone, bookTime, create_time)
        value (#{did},#{mid},#{name},#{phone},#{bookTime},#{createTime})
    </insert>

    <!-- 获取关注医生信息列表 -->
    <select id="getMyDocInfoList" parameterType="String" resultMap="myDoctorInfo">
        select c.wx_openid, c.name, c.hospital, c.icon
        from health_mother a, health_mother_doctor b, health_doctor c
        where a.id = b.mid and b.id = c.did and a.wx_openid = #{openid}
    </select>
    <resultMap id="myDoctorInfo" type="com.gop3.dto.MyDoctorInfoDTO">
        <result column="wx_openid" property="doctor_openid"/>
        <result column="name" property="doctor_name"/>
        <result column="hospital" property="hospital"/>
        <result column="icon" property="icon"/>
    </resultMap>

    <!-- 医生预约回复相关 -->
    <!-- 已处理预约信息列表查询 -->
    <select id="getAllBookedListForDoc" parameterType="String" resultType="com.gop3.po.Book">
        select * from health_book
        where did in (select id from health_doctor where wx_openid = #{openid}) and isReturn = -1
    </select>
    <!-- 未处理预约信息列表查看 -->
    <select id="getBookListForDoc" parameterType="String" resultType="com.gop3.po.Book">
        select * from health_book
        where did in (select id from health_doctor where wx_openid = #{openid}) and isReturn != -1
    </select>

    <update id="updateBookingState" parameterType="com.gop3.po.Book">
        update health_book
        set isReturn = #{isReturn}
        where mid=#{mid} and did = #{did} and isReturn=-1
    </update>

    <!--复诊回复相关-->
    <!--未回复列表-->
    <select id="getUnreplyBookList"  parameterType="String" resultType="com.gop3.dto.BookReplyDTO">
        select a.icon,b.name,b.bookTime,b.isReturn from health_mother as a,health_book as b
        where a.id=b.mid and b.did in (select id from health_doctor where wx_openid = #{doctor_openid})
        and b.isReturn=-1
    </select>
    <!--已经回复列表-->
    <select id="getReplyBookList"  parameterType="String" resultType="com.gop3.dto.BookReplyDTO">
        select a.icon,b.name,b.bookTime,b.isReturn from health_mother as a,health_book as b
        where a.id=b.mid and b.did in (select id from health_doctor where wx_openid = #{doctor_openid})
        and b.isReturn != -1
    </select>

</mapper>