<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gop3.mapper.CommentMapper">
    <!-- 根据妈妈openID获取妈妈咨询建议的简要回复信息 -->
    <select id="getCommentListForMom" parameterType="String" resultType="com.gop3.dto.SimpleCommentDTO">
        select b.wx_openid, b.icon, b.name, a.create_time
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and c.wx_openid = #{motherOpenid}
    </select>

    <!-- 根据请求的字段标识获取评论详细信息 -->
    <select id="getCommentDetailForMom" parameterType="com.gop3.dto.CommentDetailReqDTO"
            resultType="com.gop3.dto.CommentDetailDTO">
        select b.icon, b.name, a.create_time, a.content
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and c.wx_openid = #{mid}
            and b.wx_openid = #{did} and a.create_time = #{create_time}
    </select>

    <!-- 获取妈妈与医生之间的病历表图片列表 -->
    <select id="getCasePictureListForMom" resultType="String"
            parameterType="com.gop3.dto.CommentDetailReqDTO">
        select picture
        from health_case a, health_comment b, health_mother_picture c
        where a.mid = #{motherID} and a.did=#{doctorID} and b.mid = #{motherID} and b.did=#{doctorID}
            and c.cid = a.id and b.create_time = #{create_time}
    </select>

    <!-- 创建上传给医生病例图片的记录 -->
    <insert id="insertCasePicture" parameterType="com.gop3.dto.CasePictureDTO">
        insert into health_case(mid, did, create_time)
        values(#{motherID}, #{doctorID},#{submitTime})
    </insert>

    <!-- 创建病例图片记录 -->
    <insert id="insertCasePictures" parameterType="com.gop3.dto.CasePictureDTO">
        insert into health_mother_picture
        values(#{caseID}, #{pictureURL}, #{createPictureTime})
    </insert>

    <!-- 查找病例表记录id -->
    <select id="getCaseID" parameterType="com.gop3.dto.CasePictureDTO" resultType="Integer">
        select id
        from health_case
        where mid = #{motherID} and did = #{doctorID} and create_time = #{submitTime}
    </select>
</mapper>