<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gop3.mapper.CommentMapper">
    <!-- 根据妈妈openID获取妈妈咨询建议的简要回复信息 -->
    <select id="getCommentListForMom" parameterType="String" resultMap="simpleComment">
        select b.wx_openid, b.icon, b.name, a.bookTime
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and c.wx_openid = #{motherOpenid}
    </select>
    <resultMap id="simpleComment" type="com.gop3.dto.SimpleCommentDTO">
        <result column="wx_openid" property="did"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="bookTime" property="create_time"/>
    </resultMap>

    <!-- 根据请求的字段标识获取评论详细信息 -->
    <select id="getCommentDetailForMom" parameterType="com.gop3.dto.CommentDetailReqDTO"
            resultType="com.gop3.dto.CommentDetailForMomDTO">
        select b.icon, b.name, a.bookTime, a.content
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and c.wx_openid = #{mid}
            and b.wx_openid = #{did} and a.bookTime = #{create_time}
    </select>

    <!-- 获取妈妈与医生之间的病历表图片列表 -->
    <select id="getCasePictureList" resultType="String"
            parameterType="com.gop3.dto.CommentDetailReqDTO">
        select picture
        from health_case a, health_comment b, health_mother_picture c
        where a.mid = #{motherID} and a.did=#{doctorID} and b.mid = #{motherID} and b.did=#{doctorID}
            and c.cid = a.id and b.bookTime = #{bookTime}
    </select>

    <!-- 创建上传给医生病例图片的记录 -->
    <insert id="insertCaseInfo" parameterType="com.gop3.dto.CasePictureDTO">
        insert into health_case(mid, did, create_time)
        values(#{motherID}, #{doctorID},#{submitTime})
    </insert>

    <!-- 创建病例图片记录 -->
    <insert id="insertCasePictures" parameterType="com.gop3.dto.CasePictureDTO">
        insert into health_mother_picture(cid, mid, picture, create_time)
        values(#{caseID}, #{motherID}, #{pictureURL}, #{createPictureTime})
    </insert>

    <insert id="insertCommentDetailByMom" parameterType="com.gop3.dto.CasePictureDTO">
        insert into health_comment(mid, did, bookTime,cid)
        values (#{motherID}, #{doctorID}, #{bookTime},#{caseID})
    </insert>

    <!-- 查找病例表记录id -->
    <select id="getCaseID" parameterType="com.gop3.dto.CasePictureDTO" resultType="Integer">
        select id
        from health_case a
        where a.mid = #{motherID} and a.did = #{doctorID} and a.create_time = #{bookTime}
    </select>

    <!-- 获取医生未处理的妈妈等待咨询的信息列表 -->
    <select id="getSimpleCommentListForDoc" parameterType="String"
            resultType="com.gop3.dto.UnResolveBookInfoDTO">
        select c.wx_openid, c.icon, c.name, a.bookTime
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and b.wx_openid = #{doctorOpenid}
            and a.content is null
    </select>

    <!-- 获取医生已经处理的妈妈等待咨询的信息列表 -->
    <select id="getDealtCommentListForDoc" parameterType="String"
            resultType="com.gop3.dto.UnResolveBookInfoDTO">
        select c.wx_openid, c.icon, c.name, a.bookTime
        from health_comment a, health_doctor b, health_mother c
        where a.did = b.id and a.mid = c.id and b.wx_openid = #{doctorOpenid}
            and a.content is not null
    </select>

    <!-- 插入医生医疗建议的记录到数据库中 -->
    <insert id="insertCommentDetailByDoc" parameterType="com.gop3.dto.CommentDetailByDocDTO">
        insert into health_comment(did, mid, create_time, content,bookTime)
        values (#{did}, #{mid}, #{create_time}, #{content}, #{bookTime})
    </insert>

    <!-- 获取某一妈妈被处理的详情信息 -->
    <select id="getCommentDetailToDoc" parameterType="com.gop3.dto.CommentDetailReqDTO"
            resultType="com.gop3.dto.CommentDetailByDocDTO">
        select a.icon, a.name, b.content, b.create_time
        from health_mother a, health_comment b
        where a.id = b.mid and b.mid = #{motherID} and b.did = #{doctorID}
            and b.bookTime = #{bookTime} and b.content is not null
    </select>
</mapper>