<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gop3.mapper.MotherMapper">
    <select id="getMotherByOpenid" parameterType="String" resultType="com.gop3.po.Mother">
        select * from health_mother where wx_openid=#{openid}
    </select>
    <!--添加妈妈注册信息入数据库-->
    <insert id="insertMother" parameterType="com.gop3.po.Mother">
        insert into health_mother(name,phone,address,birthday,pregnant_weeks,baby_weeks,wx_openid,icon,create_time)
        values(#{name},#{phone},#{address},#{birthday},#{pregnantWeeks},#{babyWeeks},#{wx_openid},#{icon},#{createTime})
    </insert>
</mapper>